.custom-button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    font-weight: bold;
    width: 100%;
}

.custom-button:hover {
    cursor: pointer;
}

.disabled {
    pointer-events: none !important;
    background-color: #949BA0 !important;
    border: 1px solid #949BA0 !important;
}

.higher {
    background-color: #16C172;
    border: 1px solid #16C172;
}

.lower {
    background-color: #E77474;
    border: 1px solid #E77474;
}

.reset {
    background-color: #F29559;
    border: 1px solid #F29559;
}