.App {
  text-align: center;
}

.buttons-container {
  display: inline-grid;
  width: 200px;
}

.high-low-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.spacing {
  margin: 0.5rem 0;
}
