.app {
  text-align: center;
}

.buttons-container {
  display: inline-grid;
  width: 200px;
}

.high-low-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.play-button-container {
  width: 90px;
}

#reset-button-container {
  width: 200px;
}

.message-container {
  display: grid;
  justify-content: center;
}

.banner-wrapper {
  width: 200px;
}

.points {
  font-weight: bold;
}

.spacing {
  margin: 0.5rem 0;
}
