#app {
  text-align: center;
}

#buttons-container {
  display: inline-grid;
  width: 200px;
}

#high-low-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

#card-container {
  width: 100%;
  height: 280px;
}

#reset-button-container {
  width: 200px;
}

#points {
  font-weight: bold;
}

.play-button-container {
  width: 90px;
}

.message-container {
  display: grid;
  justify-content: center;
  min-width: 200px;
}

.banner-wrapper {
  width: 200px;
}

.spacing {
  margin: 0.5rem 0;
}
